
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #wrapper {
    background-color: #000;
    max-width: 1024px;
    border: 1px solid #000;
    margin: 0 auto;
  }
  
ul {
    list-style-type: none;
  }
  
  header {
    background-color: #fff;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: left;
    align-items: center;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  } /* spacing between words when open hamburger */
  
  .nav-links ul li a {
    color: #000; 
    text-decoration: none;
    font-size: 1rem;
  } /*menu link color */
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
  } /* underline of link*/
  
  .nav-links ul li:hover::after {
    width: 100%;
  } /* width of underline */
  
  nav .fa {
    display: none; /* removes the menu and x symbol */
  }

  .lilyimage {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    padding-top:20px;
  }


  .picture {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .word {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
  }

  a {
    color:#000;
    text-decoration: none;
  }

  .newarrival {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .one{
    width: 100%;
  }

  .two{
    width: 100%
  }

  .three{
    width: 100%
  }

  .kara {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .katelyn {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .button {
    border: none;
    color: #000;
    background-color: #7CB4A7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 30px;
  }

   .earringpage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .necklaces1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .bracelets1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .tagline{
    font-size: medium;
  }


  footer {
    background-color:  #7CB4A7;
    color: #000;
    text-align: center;
    padding: 20px 10px;
  }
  
  @media (max-width: 800px){
    .nav-links ul li {
      display: block;
      transition: 0.2s;
    } /* hamburger to list*/
  
    .nav-links ul li:hover{
      border-left: 6px solid #000;
    } /* color on left side of link */
  
    .nav-links ul li ::after {
      display: none;
    }
  
    .nav-links {
      position: absolute;
      background-color: #ffffff; /*background of list */
      height: 1000px; 
      width: 200px;
      top: 0;
      right: 0;
      text-align: left;
      z-index: 2; /* prioritizes stacking order */
      transition: 1s;
      display: none;
    }
  
    nav .fa {
      display: block;
      color: #000; /* color of menu and x symbol */
      font-size: 1.3rem;
      margin: 10px;
      cursor: pointer;
    }
  }