* {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #wrapper {
    background-color: #fff;
    max-width: 1024px;
    border: 1px solid #000000;
    /* this centers content, yes this is really weird */
    margin: 0 auto;
  }
  
  /* header styles */
  menu {
    list-style-type: none;
  }
  
  header {
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
  }
  
  .menu-toggle {
    cursor: pointer;
    font-size: 30px;
  }
  
  .nav-menu {
    display: none;
  }
  
  .nav-menu.active {
    display: block;
  }
  
  .nav-menu ul {
    list-style-type: none;
    margin-top: 8px;
  }
  
  .nav-menu li {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  .nav-menu li a {
    color: #000000;
    text-decoration: none;
  }
  
  .nav-menu li a:hover {
    border-bottom: 1px solid #000000;
  }
  
  main {
    margin: 10px;
  }
  
  footer {
    border-top: 1px dotted #ffffff;
    text-align: center;
    padding: 20px 10px;
  }
  
  small {
    display: inline-block;
  }
  