
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wrapper {
  background-color: #fbf3f3;
  max-width: 1024px;
  border: 1px solid #777;
  margin: 0 auto;
}

menu {
  list-style-type: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
}

.menu-toggle {
  cursor: pointer;
  font-size: 30px;
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
}

.nav-menu ul {
  list-style-type: none;
  margin-top: 8px;
}

.nav-menu li {
  margin-bottom: 10px;
  margin-left: 5px;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.nav-menu li a:hover {
  border-bottom: 1px solid #fff;
}


@media (min-width: 800px) {

  #wrapper {
    margin: 10px auto;
  }

  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu menu {
    display: flex;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
}


